GrupoFinanciero/S00Presentacion/Service References/WCFServicio/Servicios.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:60026/Servicios.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/S04Entidades" />
  <xs:element name="BancoExternoAgregar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/S04Entidades" minOccurs="0" name="externo" nillable="true" type="q1:BancoExteno" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BancoExternoAgregarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BancoExternoModificar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/S04Entidades" minOccurs="0" name="externo" nillable="true" type="q2:BancoExteno" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BancoExternoModificarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BancoExternoEliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/S04Entidades" minOccurs="0" name="externo" nillable="true" type="q3:BancoExteno" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BancoExternoEliminarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ClienteAgregar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/S04Entidades" minOccurs="0" name="cliente" nillable="true" type="q4:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClienteAgregarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ClienteModificar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/S04Entidades" minOccurs="0" name="cliente" nillable="true" type="q5:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClienteModificarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ClienteEliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/S04Entidades" minOccurs="0" name="cliente" nillable="true" type="q6:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClienteEliminarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ClienteBuscar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/S04Entidades" minOccurs="0" name="cliente" nillable="true" type="q7:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClienteBuscarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/S04Entidades" minOccurs="0" name="ClienteBuscarResult" nillable="true" type="q8:ArrayOfCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServicioAgregar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/S04Entidades" minOccurs="0" name="servicio" nillable="true" type="q9:Servicio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServicioAgregarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ServicioModificar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/S04Entidades" minOccurs="0" name="servicio" nillable="true" type="q10:Servicio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServicioModificarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ServicioEliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/S04Entidades" minOccurs="0" name="servicio" nillable="true" type="q11:Servicio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServicioEliminarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ServicioBuscar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/S04Entidades" minOccurs="0" name="servicio" nillable="true" type="q12:Servicio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServicioBuscarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/S04Entidades" minOccurs="0" name="ServicioBuscarResult" nillable="true" type="q13:ArrayOfServicio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsuarioAgregar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/S04Entidades" minOccurs="0" name="usuario" nillable="true" type="q14:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsuarioAgregarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UsuarioModificar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/S04Entidades" minOccurs="0" name="usuario" nillable="true" type="q15:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsuarioModificarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UsuarioEliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/S04Entidades" minOccurs="0" name="usuario" nillable="true" type="q16:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsuarioEliminarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UsuarioBuscar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/S04Entidades" minOccurs="0" name="usuario" nillable="true" type="q17:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsuarioBuscarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/S04Entidades" minOccurs="0" name="UsuarioBuscarResult" nillable="true" type="q18:ArrayOfUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AbonoRetiroInterno">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/S04Entidades" minOccurs="0" name="abonoRetiroI" nillable="true" type="q19:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AbonoRetiroInternoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AbonoRetiroExterno">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/S04Entidades" minOccurs="0" name="abonoRetiroE" nillable="true" type="q20:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AbonoRetiroExternoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MontosGlobales">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MontosGlobalesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/S04Entidades" minOccurs="0" name="MontosGlobalesResult" nillable="true" type="q21:ArrayOfCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EstadosdeCuenta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/S04Entidades" minOccurs="0" name="EstCuenta" nillable="true" type="q22:Transaccion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EstadosdeCuentaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/S04Entidades" minOccurs="0" name="EstadosdeCuentaResult" nillable="true" type="q23:ArrayOfTransaccion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerEstadoUsuarios">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/S04Entidades" minOccurs="0" name="usuario" nillable="true" type="q24:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerEstadoUsuariosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/S04Entidades" minOccurs="0" name="VerEstadoUsuariosResult" nillable="true" type="q25:ArrayOfUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerEstadoClientes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/S04Entidades" minOccurs="0" name="cliente" nillable="true" type="q26:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerEstadoClientesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/S04Entidades" minOccurs="0" name="VerEstadoClientesResult" nillable="true" type="q27:ArrayOfCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransaccionesRegistradas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TransaccionesRegistradasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/S04Entidades" minOccurs="0" name="TransaccionesRegistradasResult" nillable="true" type="q28:ArrayOfTransaccion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultaSaldos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/S04Entidades" minOccurs="0" name="saldos" nillable="true" type="q29:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultaSaldosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/S04Entidades" minOccurs="0" name="ConsultaSaldosResult" nillable="true" type="q30:ArrayOfCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/S04Entidades" minOccurs="0" name="usuario" nillable="true" type="q31:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/S04Entidades" minOccurs="0" name="LoginResult" nillable="true" type="q32:ArrayOfUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>